<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-header bg-primary text-white">
          <h4><i class="material-icons">lock</i>Connexion à votre compte</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder=" "
                required
              />
              <label for="username">Pseudo</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder=" "
                required
              />
              <label for="password">Mot de passe</label>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="rememberMe"
              />
              <label class="form-check-label" for="rememberMe">
                Se souvenir de moi
              </label>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">
                <i class="material-icons">login</i>Se connecter
              </button>
            </div>
          </form>
          <hr />
          <div class="text-center">
            <a href="#" class="text-decoration-none"
              ><i class="material-icons">lock</i>Mot de passe oublié ?</a
            >
            <br />
            <span>Vous n'avez pas de compte ?</span>
            <a href="#" class="text-decoration-none"
              ><i class="material-icons">person_add</i>Inscrivez-vous maintenant
              !</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
