asgiref==3.7.2
dj-database-url==2.0.0
Django==4.2.1
django-appconf==1.0.5
django-environ==0.10.0
django-select2==8.1.2
environ==1.0
mysqlclient==2.1.1
python-environ==0.4.54
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
