{% extends 'shop/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-12 mt-4">
    <h3 class="text-center text-info">Liste des Produits dans le Panier</h3>
    <ol class="list-group list-group-numbered" id="item-list"></ol>
    <ul class="list-group" id="item-number"></ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <form class="row g-3" method="POST">
      {% csrf_token %}
      <input type="hidden" id="items" name="items" value="" />
      <div class="col-md-6">
        <label for="inputName" class="form-label">Nom</label>
        <input type="text" name="name" class="form-control" id="inputName" />
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" />
      </div>
      <div class="col-12">
        <label for="inputAdresse" class="form-label">Adresse</label>
        <input
          type="text"
          class="form-control"
          name="adresse"
          id="inputAdresse"
          placeholder="1234 Main St"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Ville</label>
        <input type="text" name="ville" class="form-control" id="inputVille" />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Pays</label>
        <select id="inputPays" name="pays" class="form-select">
          <option selected>Choose...</option>
          <option>Madagascar</option>
          <option>Mayote</option>
          <option>Commore</option>
          <option>La Reunion</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" name="zipcode" class="form-control" id="inputZip" />
      </div>
      <div class="col-md-12">
        <label for="inputTotal" class="form-label">Somme totale à payer</label>
        <div class="row">
          <div class="col-md-7">
            <input
              type="text"
              name="total"
              class="bg-dark text-warning form-control"
              id="inputTotal"
              readonly
            />
          </div>
          <div class="col-md-5">
            <strong>Ariany</strong>
          </div>
        </div>
      </div>
      <div class="col-7 mb-4">
        <button id="commander" type="submit" class="btn btn-primary">
          Commander
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %} {% block js %}
<script type="text/javascript">
  if (localStorage.getItem("panier") == null) {
    let panier = {};
  } else {
    panier = JSON.parse(localStorage.getItem("panier"));
  }

  let totalPrice = 0;
  let number = 0;

  for (item in panier) {
    let name = panier[item][1];
    let quantity = panier[item][0];
    let price = panier[item][2];

    number += quantity;
    totalPrice += price;

    let itemString = `
      <li
      class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">${name}</div>
          Prix Total Par Article : <b class="badge bg-warning"> ${price.toLocaleString()}</b> Ariary
        </div>
        <span class="badge bg-primary rounded-pill">${quantity}</span>
      </li>
      `;
    $("#item-list").append(itemString);
  }

  let itemNumber = `
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h4 class="">PRIX ET QUANTITE TOTAL</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Nombre d'articles :</strong> <i class="badge bg-success">${number}</i>
      </div>
      <div class="col">
        <strong>Prix total :</strong> <i class="badge bg-success">${totalPrice.toLocaleString()}</i> Ariany
      </div>
    </div>
  </div>
`;

  $("#item-number").append(itemNumber);
  $("#inputTotal").val(totalPrice);
  $("#items").val(JSON.stringify(panier));
  $("#commander").click(function () {
    var panier = localStorage.getItem("panier"); // Récupère la valeur de l'élément 'panier' du localStorage
    if (panier) {
      localStorage.removeItem("panier"); // Supprime l'élément 'panier' du localStorage
      alert('L\'élément "panier" a été effacé du localStorage !');
    } else {
      alert("L'élément \"panier\" n'existe pas dans le localStorage !");
    }
  });
</script>
{% endblock %}
