{% extends 'shop/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="product-image">
            <img src="{{product.image}}" class="img-fluid" alt="Product Image" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-details">
            <h1 class="text-warning display-3">{{product.title}}</h1>
            <h4 class="text-danger">Prix : {{product.price}} MGA</h4>
            <p class="text-info">{{product.description}}</p>
            <a href="#" class="btn btn-success btn-lg">Acheter</a>
        </div>
    </div>
</div>
{% endblock %}