{% extends "shop/base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name="item-name" id="" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}