{% extends "shop/base.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input
              type="search"
              name="item-name"
              id=""
              placeholder="Entrer le nom du produit"
              class="form-control form-control-borderless"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    {% for product in products%}
    <div class="col-md-3 mt-3">
      <div class="card">
        <img src="{{product.image}}" alt="" class="card-ing-top" />
        <div class="card-body">
          <div id="product_{{product.id}}" class="card-title">{{product.title}}</div>
          <div style="color: orange" class="card-text mb-2">
            <b>{{product.price}}</b> Ariary
          </div>
          <a href="{{product.id}}" class="btn btn-warning">Voir</a>
          <button id="{{product.id}}" class="btn ted btn-success">Ajouter</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row text-center">
    <div class="col-md-3 mt-3">
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.previous_page_number}}"
            >Précédent</a
          >
        </li>
        {% endif %}

        <li class="page-item active">
          <a class="page-link" href="?page={{products.number}}"
            >{{products.number}}</a
          >
        </li>

        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.next_page_number}}"
            >Suivant</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
