{% extends '../partials/base.html' %} {% block content %}
<div class="container-fluid mt-2 mb-3">
  <div class="px-4 py-5 my-5 text-center">
    <div class="d-block mx-auto mb-4">
      <i class="material-icons md-48">home</i>
    </div>
    <h1 class="display-5 fw-bold">Bienvenue sur notre site e-commerce</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Nous proposons une large sélection de produits à des prix compétitifs.
        Connectez-vous ou inscrivez-vous pour accéder à toutes nos
        fonctionnalités.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">
          Se Connecter
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          S'inscrire
        </button>
      </div>
    </div>
  </div>

  <div class="row gx-5 mt-5">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="material-icons md-48">local_shipping</i>
          <h5 class="card-title">Livraison rapide</h5>
          <p class="card-text">
            Nous vous offrons une livraison rapide et sécurisée de vos
            commandes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="material-icons md-48">headset</i>
          <h5 class="card-title">Service clientèle</h5>
          <p class="card-text">
            Notre équipe de support est à votre disposition pour répondre à vos
            questions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <i class="material-icons md-48">credit_card</i>
          <h5 class="card-title">Paiement sécurisé</h5>
          <p class="card-text">
            Nous proposons des moyens de paiement sécurisés pour vos achats en
            ligne.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <a href="/shop" class="btn btn-primary btn-lg" role="button"
      >Découvrez nos produits</a
    >
  </div>
</div>

{% endblock %}
