{% extends "../partials/base.html" %} {% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-3">Détails du produit</h1>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <i class="material-icons" style="font-size: 48px">person</i>
        <div class="card-body">
          <h2>User</h2>
          <p>{{username}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <i class="material-icons" style="font-size: 48px">attach_money</i>
        <div class="card-body">
          <h2>Prix</h2>
          <p>{{price}} MGA</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <i class="material-icons" style="font-size: 48px">location_on</i>
        <div class="card-body">
          <h2>Localisation</h2>
          <p>{{ville}}, {{pays}} {{zipcode}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card text-center">
        <i class="material-icons" style="font-size: 48px">access_time</i>
        <div class="card-body">
          <h2>Durée</h2>
          <p>(Non Determiner)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="d-grid gap-2 col-3 mx-auto mt-4">
    <a href="/shop" class="btn btn-success" type="button">Autre Produit</a>
  </div>
  <div class="d-grid gap-2 col-3 mx-auto mt-4">
    <a href="#" class="btn btn-danger" type="button">Annuler Commande</a>
  </div>
</div>

{% endblock %}
